.catalog {
  display: flex;
  flex-direction: column;
  .wrapper-catalog {
    display: flex;
    flex-direction: column;
    .item-border {
      width: 97.5%;
      height: 1px;
      background: rgba(135, 135, 135, 0.2);
      border-radius: 8px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .catalog__item {
      padding: 16px 16px 16px 0;
      display: flex;
      width: 100%;
      .item-img {
        width: 64px;
        height: 64px;
        background: rgba(65, 82, 46, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 24px;
      }
      .item-info {
        width: 100%;
        .info-header {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          .item-name {
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #424242;
            max-width: 350px;
          }
          .btn-add-favorite {
            background: none;
            border: none;
          }
        }

        .info-middle {
          width: 100%;
          .item-date {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #878787;
            margin-bottom: 7px;

            span {
              margin: 0 5px 0 15px;
            }
          }
        }

        .info-footer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item-rating {
            display: flex;
          }
        }
        .item-price {
          margin-left: auto;
          display: flex;
          flex-direction: row;

          justify-content: flex-start;
          .price {
            margin-top: auto;
            font-weight: 300;
            font-size: 11px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #878787;
            margin-right: auto;
          }
          span {
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-align: right;
            letter-spacing: -0.408px;
            color: #424242;
            margin-left: 5px;
            display: block;
            min-width: 75px;
            width: 100%;
          }
        }
      }
    }
  }
}
