.swiper {
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 28px;
  .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      overflow: hidden;
      margin-right: 12px;
      width: auto !important;
      .slide-wrapper__img {
        width: auto;
        max-width: 164px;
        overflow: hidden;
        margin-right: 12px;
        .img {
          max-width: 100%;
          max-height: 140px;
          object-fit: none;
          border-radius: 10px;
        }
      }

      .slide-wrapper__last-img {
        width: auto;
        max-width: 164px;
        overflow: hidden;
        .last-img {
          max-width: 100%;
          max-height: 140px;
          object-fit: none;
          border-radius: 10px 0 0 10px;
        }
      }
    }
  }
}
