.hotels {
  padding-bottom: 10px;
  .hotels-heading {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .hotels-title-wrapper {
      display: flex;
      align-items: center;
      .hotels-heading-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
      }
      .hotels-title__img {
        margin: 0 20px;
      }
    }
    .hotels-heading-date {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #41522e;
      margin-left: 10px;
    }
  }
  .hotels__counter-favorite {
    margin: 28px 0 23px 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
    .hotels__counter-favorite-count {
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #41522e;
      margin: 0 5px;
    }
  }

  .hotels-list__content {
    height: 530px;
    overflow: auto;
   
  }
}
