* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
textarea:focus,
input:focus {
  outline: none;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  ::-webkit-scrollbar {
    background: none;
    width: 2px;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #41522e;
    height: 100px;
}
}
main{
  height: 100vh;
}

a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

button {
  cursor: pointer;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}
